<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공팅</title>
</head>
<body>
    <div>
        관리자 페이지
    </div>
    <div>
        <a href="/admin/submit"><button type="button"> submitUser </button></a>
        <a href="/admin/lovealgorithm"><button type="button"> love match algorithm </button></a>
        <a href="/admin/friendalgorithm"><button type="button"> friend match algorithm </button></a>
    </div>
</body>
</html>