<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공팅</title>
</head>
<body>
    <div class="...">
        <p>
            <h4>학생증을 업로드 해주세요</h4>
        </p>
        <p>
            * 학생증은 카메라로 찍어서 jpg / png로 올려주시면 됩니다.<br>
            * 학생증 증명을 안 할시 해당 웹 사이트를 사용 할 수 없습니다.<br>
            * 사진을 가리고 올리셔도 됩니다.<br>
            * 회원가입에서 입력하신 학번과 이름만 나오면 됩니다    
            * 학생증 인증까지 1일~2일 정도 소요됩니다                       
        </p>
    </div>
    <div class="...">
        <form action="/auth/verify" method="post" enctype="multipart/form-data">
            <div class="..." id="card">
                <div class="...">
                    <input type="file" class="..." name="card" id="...">
                </div>
            </div>
            <div class="...">
                <div class="..."><button class="..." type="submit">학생증 인증 완료</button></div>
            </div>
        </form>
    </div>
</body>
</html>